@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<blockquote>
    We are committed to protecting your privacy and safeguarding any personal information shared on our website.
    Your data will only be used to improve your experience, and it will never be sold or shared with third parties without your consent, unless required by law.
    
    We employ industry-standard security measures to protect your data, and you can update or request the deletion of your information at any time. By using our site, you agree to the terms outlined in this privacy policy.
</blockquote>